<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334222438532-6dt3j8s7ujdb7cff5utt8a54fvbhem36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334222438532-6dt3j8s7ujdb7cff5utt8a54fvbhem36</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>334222438532-gip8cc5d8s21mpoofnmb4tplc1ol5na3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9zPMDfdEMadb0W_dQyJ_3NgBQpddDiiI</string>
	<key>GCM_SENDER_ID</key>
	<string>334222438532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyperprogrammer.notespedia</string>
	<key>PROJECT_ID</key>
	<string>engineer-s-buddy</string>
	<key>STORAGE_BUCKET</key>
	<string>engineer-s-buddy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334222438532:ios:bea4d177ed1e099de312d1</string>
	<key>DATABASE_URL</key>
	<string>https://engineer-s-buddy.firebaseio.com</string>
</dict>
</plist>